body {
    background-color: #cad5dd;
  }

#header{
  position: relative;
  padding: 14px;
  height: 110px;
  width: 100%;
  background-color: white;
}

.baner img {
  position: relative;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


@media (max-width: 720px) and (max-width: 720px) {
  body {
    background-color: rgba(255, 0, 0, 0.884);
  }
}

@media (max-width: 920px) and (max-width: 920px) {
  body {
    background-color: rgba(21, 255, 0, 0.884);
  }
}
